.caja1 {
    border: 5px solid red;
    margin: 5px;
}

.caja2 {
    border: 5px solid blue;
    padding: 25px;
    margin: 5px;
}

.caja3 {
    border: 5px solid green;
    padding: 50px;
    margin: 5px;
}